@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito+Sans:ital,wght@0,300;0,700;1,300&display=swap');

:root{
    --main-color: #ff5858; 
    --black:  #333; 
    --white: #fff; 
    --light-color: #666; 
    --border: .1rem solid var(--black); 
    --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1); 
}

*::selection {
    background-color: var(--main-color);
    color: var(--white); 
}

*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0; 
    box-sizing: border-box;
    outline: none;
    border: none; 
    text-decoration: none;
    text-transform: capitalize;
    /* transition: ; */
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;   
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color); 
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto; 
}

.header {
    position: sticky; 
    top: 0; left: 0; right: 0; 
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    position: relative; 
    padding: 1.5rem 2rem; 
}

.header .flex .logo img{
    height: 4rem; 
}

.header .flex .navbar a{
    margin-left: 2.5rem; 
    font-size: 2rem;
    color: var(--black); 
}

.header .flex .navbar a:hover{
    text-decoration: underline;
    color: var(--main-color); 
}

#menu-btn{
    display: none; 
    font-size: 2.5rem;
    color: var(--black); 
    cursor: pointer;    
}

.home-bg{
    background:linear-gradient(90deg, var(--white), transparent 70%), url(../images/home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home {
    min-height: 80rem;
    display: flex;
    align-items: center;
}

.home-bg .home .content {
    width: 50rem;
    text-align: justify;
    margin-right: 20rem;
    margin-bottom: 9rem;
}

.home-bg .home .content h3{
    font-size: 6rem;
    color: var(--main-color); 
    font-family: 'Merienda One', cursive;
}


.home-bg .home .content p{
    padding: 1rem 0; 
    text-transform:none;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--black); 
}

.home-bg .home .content i{
    font-size: 1.8rem;
    margin-right: .8rem;
    cursor: pointer;
    color: var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white); 
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: var(--black);
}



.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; 
}

.about .image{
    flex: 1 1 40rem; 
}

.about .image img{
    width: 100%;
}

.about .content{
    flex: 1 1 40rem;
}

.about .content h3{
    font-size: 4.5rem; 
    color: var(--black); 
    font-family: 'Merienda One', cursive;
    padding: 1rem; 
}
.about .content p{
    padding: 1rem 0; 
    line-height: 2;
    color: var(--light-color); 
    font-size: 1.5rem;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading img{
    height: 3rem;
    margin-bottom: 1rem;
}

.heading h3{
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.facility .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr)); 
    gap: 1.5rem; 
    align-items: flex-start;
}

.facility .box-container .box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    flex-grow: 1; 
    padding: 1.5rem 1rem;
    height: 40rem;
    box-shadow: 0px 0rem .5rem #ffb6b6;
}

.facility .box-container .box .btn{
    align-self: flex-end;
}

.facility .box-container .box  p {
    font-size: 1.4rem;
    line-height: 1.8em;
    text-transform: none;
    color: var(--light-color); 
}

.facility .box-container .box  img{
    margin-bottom: .2rem;
    position: relative; 
    width: 13rem;
}

.facility .box-container .box  h3{
    font-size: 1.9rem;
    margin: 1.4rem 0;
    color : var(--black); 
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);  
    gap: 4.5rem; 
    align-items: flex-start;
    justify-content: center;
}

.menu .box-container .box {
    text-align: center;
    
}

.menu .box-container .img {
    width: 100%;
}





.gallery .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);  
    gap: 2rem; 
    justify-content: center;

}

.gallery .box-container img{
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

.team .box-container .box{
    text-align: center;
}

.team .box-container .box img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.team .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);  
    gap: 1.5rem; 
    justify-content: center;
}

.team .box-container .box h3{
    font-size: 2rem;
    color:var(--black)
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; 
}

.contact .row .image{
    flex: 1 1 50rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex: 1 1 30rem; 
    border: var(--border); 
    padding: 2rem;
    text-align: center;
}

.contact .row form h3
{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--black); 
}

.contact .row form .box{
    width: 100%;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    margin-bottom: 1rem;
}

.footer {
    font-size: 1.2rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    
}

.footer .box-container .box{ 
    text-align: center;
}


.footer  .credit{
    text-align: center;
    margin: 3rem;
    padding-bottom: 2.5rem;
    padding-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--black); 
}

.footer .box-container .box i {
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white); 
    margin-bottom: .5rem;
    text-align: center;
}

.footer .box-container .box h3{
    margin: .5rem 0;
    font-size: 2rem;
    color: var(--black);
}

.footer .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
}


/* media queries */

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        position: absolute; 
        top: 99%; left: 0; right: 0; 
        background-color: var(--white);
        border-top: var(--border); 
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);    
        transition: .2s linear;
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem; 
    }

    .header .flex .navbar.active{
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .about .content h3{
        font-size: 3rem;
    }

    .about .content {
        text-align: center;
    }

        

    
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

    .home-bg{
        background-position: left;
    }

    .home-bg .home{
        justify-content: center;
    }

    .home-bg .home .content h3{
        font-size: 4rem;
    }
}

@media (max-width: 914px){
    .menu .box-container .box img{
        width: 300px;
    }

}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    #menu-btn{
        display: block;
    }

    .heading img {
        height: 3rem;
    }

    .heading h3{
        font-size: 3rem;
         
    }
    /* .navbar {
        /* display: none; */
    } 



    